canvas{
    width:100%;
    height: 100%;
    background: black;
}

body, html{
    bottom:3em;
}

.jumbotron{
    margin-bottom:10px; 
    background:white; 
    text-align:center;
    height:220px
}

.text-center{
	color: black;
	position:absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 100px;
}

.footer{
    height:auto;
    position:static;
    left:0;
    bottom:0;
    width:100%;
    text-align:center;
    background:white;
}



